<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    for access value on file jdbc.properties-->
    <context:property-placeholder location="classpath:*.properties"/>

    <!--    for make beans jdbc and configuration database-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${database.driverclass}" />
        <property name="url" value="${database.url}" />
        <property name="username" value="${database.user}" />
        <property name="password" value="${database.pass}" />
    </bean>

    <!--    for make beans JdbcTemplate and ref DataSource for config JDBC -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource" />
    </bean>

    <!--    for make beans StudentImpl and ref JdbcTemplate-->
    <bean id="studentDao" class="com.andikscript.springcrud.dao.StudentImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>

    <!--    for make beans class StudentService and ref class StudentImple-->
    <bean id="studentService" class="com.andikscript.springcrud.service.StudentService">
        <property name="studentDao" ref="studentDao" />
    </bean>

</beans>